@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Oswald:wght@400;500;700&display=swap');

*{ padding:0; margin:0; font-family: 'Oswald', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif; font-weight:400; color:#333; }
li{ list-style: none; }
a{ text-decoration: none; }
button{ cursor: pointer; }
.wrap{ width:1280px; max-width:100%; margin:0 auto; }

/* loader */
.loader{ position:fixed; top:0; left:0; z-index:200000; width:100%; height:100%; overflow:hidden !important; background-color:#FB8B00;
    h1{ position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); 
        span{ 
            position:relative;
            font-weight:600; font-size:140px; color:#fff; animation: loader 2s linear infinite; opacity:0; text-shadow:0.25rem 0 #ffbd6c;
            @for $i from 1 through 6{ 
                &:nth-child(#{$i}){animation-delay: #{0.1 * $i}s;}
            }
        }
    }
}
@keyframes loader{
    0%{ top:40px;  opacity:0.5; }
    50%{ top:20px; opacity:1; }
    75%{ top:10px; opacity:1;  }
    100%{ top:0; opacity:0;  }
 }

/* header */
header{ position:fixed; top:0; left:0; z-index:4000; width:100%; background-color:#FB8B00; border-bottom:1px solid #fff;
    .wrap{display:flex; height:100%; align-items:center; justify-content:space-between;
        h1{ a{ color:#fff; font-weight:700; font-size:2.5rem; } }
        ul{ display:flex; height:100%; 
            li{ height:100%; padding:20px; box-sizing:border-box; &:last-child{ padding-right:0; }
                a{ display: block; width:100%; height:100%; transition:0.4s;
                    font-size:1.45rem; font-weight:500; color:#fff;
                    &:hover{ transform: skew(-10deg) scale(1.1, 1.1); }
                } 
            }
        }
        .panel{ display: none; }
    }
}
/* sectionTitle */
h3{ font-size:2rem; color:#fff; line-height:3.5rem; font-weight:500; 
    &::before{ position:absolute; top:0; left:0; z-index:-1;  display:block; width:100%; height:3.5rem; background-color: #FB8B00; content:''; }
}
/* button */
@mixin button{
    display:block;
    width:100%; padding:0.45rem; box-sizing:border-box;
    border:1px solid #FB8B00;
    box-shadow: 0.5rem 0.5rem #FB8B00;
    color:#FB8B00; font-weight:500; font-size:1.5rem;
    text-align:center; transition:0.3s;
    &:hover{ 
        font-weight:600;
        background-color:#fb8a0021;
    }
}
/* main */
#main{ position:relative; display:flex; width:100%; height:100vh; flex-direction:column; justify-content:center; align-items:center; box-sizing:border-box; 
    .mainBg{ position:absolute; top:0; left:0; z-index:-10; width:100%; height:50%; background-color:#FB8B00; transform-origin:top center; transform:matrix(1,0.01,0,0.1,0,0); transition:0.6s; transition-delay: 4.6s; }
    .wrap{ position:relative; box-sizing:border-box;
        figure{ border-radius: 50%; background-color:#FB8B00; box-shadow:0.875rem 0 #FB8B00;
            transform:matrix(0.4,0,-0.1,0.4,80,-80); opacity:0; transition:0.6s; transition-delay: 0.8s; 
            img{ border-radius: 50%; object-position: center; opacity:0.9; }
        }
        .textBox{ position:absolute; right:0; text-align: right;
            h2{ 
                position:relative; width:100%; font-weight:700; transform:matrix(1,0,0,0.2,-400,0); opacity:0; transition:1s; transition-delay: 0.6s; 
                span{ font-weight:700;}
            }
            p{ position:relative; display:inline-block; margin-top:0.5rem; font-size:1.75rem; color:#FB8B00; font-weight:500;
                &::after{position:absolute; right:-10px; top:8px; display:inline-block; width:1px; height:1.75rem; background-color:#FB8B00; content:'';animation: typing 1s steps(1, end) infinite;}
                .date_m{ display: none; }
            }
        }
    }
    .scroll{ 
        position: absolute; bottom:2.5rem; display:flex; justify-content:center; align-items:center; font-weight:500; transform:matrix(1,0.2,0,0.2,0,100); opacity:0; transition:0.4s; transition-delay:4.6s; 
        span{ font-size:1.5rem; }
        .wheel{ position:relative; display:inline-block; width:1.75rem; height:2.75rem; margin:0 0.75rem; border:4px solid #333; border-radius:0.875rem; 
            &::after{ position:absolute; top:15%; left:0; right:0; margin:0 auto; display:block; width:12px; height:12px; background-color:#333; border-radius:6px; content:''; animation: wheel 1.2s ease-in-out infinite alternate}
        }
    }

    &.active{
        .mainBg{ transform:matrix(1,0,0,1,0,0); }
        figure{ transform:matrix(1,0,0,1,0,0); opacity:1; }
        .textBox h2{transform:matrix(1,0,0,1,0,0); opacity:1; }
        .scroll{ transform:matrix(1,0,0,1,0,0); opacity:1; }
    }
}
@keyframes typing {
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
@keyframes appearBar {
    0%{width:0;}
    100%{width:100%;}
}
@keyframes wheel{
    0%{ top:15%; opacity:1; }
    100%{ top:60%; opacity:0.2; }
}
#main ~ div{ position:relative; }
/* intro */
#intro{ overflow:hidden;
    .textBox{ box-sizing:border-box;
        h4{ padding:0 18px 6px 0; margin-bottom:1.5rem; font-size:1.5rem; font-weight:500; border-bottom:2px solid #FB8B00; }
        p{font-size:1.145rem; line-height: 1.875rem;}
    }
 }
 /* skills */
 #skills{ 
    .contents{ display:flex; border-bottom:2px solid #FB8B00; padding-bottom:1.45rem;
        h4{ margin-bottom:1.45rem; padding-bottom:4px; font-size:1.5rem; font-weight:500; border-bottom:2px solid #FB8B00; }
        .icons{ display:flex; 
            li{ display:flex; flex-direction:row; align-content:center; 
                img{ border:1px solid #ccc; box-sizing:border-box; margin-right:1rem; transition:0.3s;}
                span{font-size:1.45rem; transition:0.3s;}
                &:hover{ 
                    img{ transform:scale(1.15, 1.15);}
                    span{ color:#FB8B00; } 
                }
                
            }
        }
    }
 }
 /* projects */
 #projects{
    .proNav{ border-bottom:1px solid #FB8B00;
        li{ 
            background-image: url(../img/list_icon.png); background-repeat:no-repeat; background-position:left center; padding-left:1rem; margin-bottom:0.5rem; 
            &:last-child{ margin-bottom:1.45rem; }
            a{ display:block; width:fit-content; padding:0.5rem; box-sizing:content-box; line-height:2rem; font-size:1.125rem; transition:0.3s; 
                &::after{ display:block; width:0; height:1px; background-color:#FB8B00;  transition:0.3s; content:''; }
                &:hover{ color:#FB8B00; font-weight:500; 
                    &::after{ width:100%; }
                } 
            }
            &:first-child{ a{ padding-top:0; } }
        }
     }
 }
 /* projectBox */
.project{
    padding:2rem 0 2.5rem; border-bottom:1px solid #FB8B00;
    .title{ display:flex; align-items:flex-end; margin-bottom:1rem;
        h4{ font-size:2.75rem; font-weight:500; color:#FB8B00; margin-right:2rem; }
        .date{ padding-bottom:0.5rem; color:#666; font-size:1.25rem; }
    }
    .contents{ display:flex; 
        > img{ margin-right:2rem; border:1px solid #FB8B00; }
        .desc{ position:relative; display:flex; flex-direction:column;
            h5{ margin-bottom:1rem; padding:0 0 0.5rem 0.5rem; border-bottom:3px solid #FB8B00; font-weight:600; font-size:1.5rem; color:#666; }
            .descTop{
                .goGithub{ display:block; margin-bottom:1rem;
                    img{ float:left; width:2.5rem; }
                    span{margin-left:1rem; line-height:2.5rem; font-size:1.125rem; font-weight:500; transition:0.3s; }
                    &:hover{
                        span{ color:#FB8B00; font-size:1.25rem; }
                     }
                }
                .goView{ display: none; }
            }
            p{ line-height:1.75rem; b{ font-weight:500; font-size:1.125rem; } .date_m{ display: none; } }
            > .button{ position:absolute; bottom:0.5rem; @include button; }
            .buttonBox{ width:100%;
                position:absolute; left:0; bottom:0;
                .button{ &:last-of-type{ margin:1rem 0; } @include button; }
                >span{ font-size:0.875rem; }
            }
            
        }
    }
}
.moreWorks{ 
    display:flex; flex-direction:column;
    > div{ display:flex; justify-content:space-evenly; border-bottom: 1px solid #FB8B00; box-sizing:border-box; 
        a{ border-right:1px solid #FB8B00; &:last-child{ border:none; }
            flex:1; img{ width:100%; }
        }
        .goGithub{ 
            display:flex; flex-direction: column; justify-content:center; align-items:center; text-align:center; color:#FB8B00; font-weight:600; font-size:1.875rem; transition:0.3s;
            &:hover{ background-color:#fb8a0021; font-size:1.95rem; font-weight:700;
            }   
        }
    }
}
/* contact */
#contact{
    ul{ display:flex; justify-content:space-between; margin:1rem 0 3.5rem; 
        li{ background-image: url(../img/list_icon.png); background-repeat:no-repeat; background-position:left center; padding-left:1rem;
            .line{ position:relative; top:0.25rem; display:inline-block; width:4px; height:80%; margin:0 0.5rem; background-color:#FB8B00;  }
        }
    }
    .contact{ display: flex;
        img{ flex:1; margin-right:2.5rem; border:1px solid #FB8B00; box-sizing:border-box; }
        form{ position:relative; 
            &::before{ position:absolute; top:0; left:0; padding:0 0.75rem 0.5rem 0.5rem; box-sizing:border-box; background-color:#fff;
                font-size:2rem; font-weight:500; color: #FB8B00;
                content:'GET IN TOUCH'; transform: translate(-5%, -25%);
            }
            flex:1; display:flex; flex-direction: column; padding:3rem 1rem 1rem; box-sizing:border-box; border:1px solid #FB8B00;
            & > *{font-size:1.125rem;}
            input{ padding:0.5rem; margin-bottom:1rem; border:none; border-bottom:1px solid #ccc; &::placeholder{ color:#666; } }
            label[for="message"]{ color:#666; margin-bottom:0.5rem; padding-left:0.5rem; }
            textarea{ height:100%; padding:0.5rem; border:1px solid #ccc; }
            button{ @include button; background:transparent; margin:1.5rem 0 1rem; }
        }
        .away{ position:absolute; left:-999em; }
    }
}

/* footer */
footer{ width:100%; background-color:#FB8B00; padding:1.5rem 0 3.5rem;
    & *{color:#fff;} 
    > p{ text-align:center; padding-bottom:1.5rem; border-bottom:1px solid #fff; font-size:1.5rem; }
    .bottom{
        display: flex; justify-content:center; padding-top:3.5rem;
        h1{ color:#fff; font-weight:700; font-size:2.5rem; }
    }
}
/* responsive */
@media screen and (min-width:1280px) {
    h3{ margin-bottom:60px; }
    *{ font-size:18px; }
    /* header */
    header{ height:70px; 
        .wrap{
        ul{ li{ margin-left:32px; } }
        }
    }
    /* main */
    #main{ 
        padding-top:70px;
        .wrap{ 
            top:-70px;
            figure{ 
                width:500px; height:500px; 
                img{ width:100%;  }
            }
            .textBox{ 
                bottom:8%;  
                h2{ 
                    font-size:80px; 
                    span{ font-size: 80px; transition:0.4s; transition-delay: 0.8s; }
                    &::after{ height:48px; }
                }
            }
        }
        &.active{ .textBox h2 span{ color:#fff } }
    }
    #main ~ div{ position:relative; margin-bottom:80px; }
    /* intro */
    #intro{
        margin-bottom:50px !important;
        figure{ 
            float:left;
            width:50%; height:680px; margin-bottom:1.5rem; padding-right:2.5rem; box-sizing:border-box; overflow:hidden; 
            .pc{ display:block; }
            .mobile{ display: none; }
            img{ width:100%; }
        }
        .textBox{ width:50%; height:680px; float:right; padding:45px 0; }
    }
    /* skills */
    #skills{
        .contents{ 
            justify-content:space-between;
            > li{ 
                flex:1; margin-right:3rem; box-sizing:border-box; 
                &:last-child{ margin:0; } 
            }
            .icons{ 
                flex-direction:column;
                li{ margin-bottom:32px; 
                    &:last-child{ margin:0; } 
                    img{ width:64px; height:64px; }
                    span{ line-height:72px; }
                }
            }
        }
    }
    /* projectBox */
    .project{
        .contents{ 
            display:flex; 
            > img{ width:745px; }
        }
    }
    .moreWorks{ 
        margin-top:3rem;
        .line01{ border-top:1px solid #FB8B00; }
        .goGithub{ 
            img{width:100px !important; margin-top:0.5rem; transition:0.3s;} 
        } 
    }
    /* contact */
    #contact{
        ul{ li{ font-size:1.75rem; 
            .title{ font-size:1.75rem; }
            a{ font-size:1.75rem; } 
            } 
        }
        .mobile{ display: none; }
        .contact{ display: flex;
            img{ height:580px; }
        }
    }
    /* footer */
    footer{ 
        width:100%; background-color:#FB8B00; padding:1.5rem 0 3.5rem;
        .bottom{
            h1{ margin-right:2rem; }
        }
    }
}
@media screen and (max-width:1279px) {
    header{ padding:0 1rem !important; box-sizing:border-box; }
    header ~ div{ padding:0 1rem !important; box-sizing:border-box; }
    /* main */
    #main{ 
        padding-top:70px;
        .wrap{
            figure{ 
                width:420px; height:420px; margin:0 auto 1rem;
                img{ width:100%; }
            }
            .textBox{ 
                position:relative; text-align:center;
                h2{  
                    font-size:4rem; 
                    span{font-size: 4rem; color:#333;}
                    &::after{ height:48px; } 
                } 
            }
        }
    }
    #main ~ div{ padding-bottom:2rem !important; }
    /* intro */
    #intro{ 
        figure{ 
            margin:2rem 0 1rem;
            .pc{ display:none; }
            .mobile{ display: block; width:100%; }
        }
        .textBox{
            p{.pc{ display: none; } }
        }
    }
    /* skills */
    #skills{ 
        .contents{ 
            display:block; border-bottom:2px solid #FB8B00; padding:2rem 0 1.45rem;
            h4{ margin-bottom:1.45rem; padding-bottom:4px; font-size:1.5rem; font-weight:500; border-bottom:2px solid #FB8B00; }
            .icons{ 
                display:block; overflow: hidden; padding:1rem;
                li{ 
                    float:left; display:block; width:25%; padding-bottom:1.5rem; text-align:center;
                    img{ display:block; width:64px; height:64px; margin:0 auto 0.5rem; }
                    span{ display:block; &.pc{ display:none; } }
                }
            }
        } 
    }
    /* projects */
    #projects{
        ul{ margin-top: 2rem !important; }
        .project{
            .contents{ 
                flex-direction: column;
                > img{ width:100%; margin-bottom:2rem; }
                .desc{
                    > .button{ position:static; margin-top:2rem; }
                    .buttonBox{
                        position:static; 
                        &:first-of-type{ margin-top:2rem; } 
                        &:last-of-type{ margin-bottom:0; }
                    }
                    p{ margin-bottom:1rem; }
                }
            }
        }
        .moreWorks{
            margin-top:3rem;
            .line01{ border-top:1px solid #FB8B00; }
            .goGithub{
                img{ width:48px; }
            }
        }
    }
    /* contact */
    #contact{
        .mobile{ display: none; }
        ul{ margin-top:2rem !important;
            li{ font-size:1.75rem; 
                .title{ font-size:1.75rem; }
                a{ font-size:1.75rem; } 
            } 
        }
        .contact{ display: flex; 
            img{ width:50%; }
        }
    }
    /* footer */
    footer{ 
        width:100%; background-color:#FB8B00; padding:1.5rem 0 3.5rem;
        .bottom{
            h1{ margin-right:2rem; }
        }
    }
}

@media screen and (max-width:1024px) {
    *{ font-size:16px; }
    /* loader */
    .loader{
        h1{ span{ font-size:80px; } }
    }
    /* prjoect */
    #projects{
        .project{
            .title{ 
                h4{ font-size:1.75rem; font-weight:500; color:#FB8B00; margin-right:2rem; }
                .date{ display:none; }
            }
            .goGithub{ float:left; width:49%; }
            .goView{ float:right; display:block; width:50%; line-height:2.5rem; text-align:right; font-size:1.45rem; font-weight:500; color:#FB8B00; }
            .desc{ 
                h5{ display:none; }
                p{ height:0; border:1px solid #FB8B00; padding:1rem; box-sizing:border-box; overflow:hidden; transform-origin:top center; transform:scaleY(0.025); transition:0.3s;
                    &.active{ height:fit-content; transform:scaleY(1); } 
                    font-size:1.125rem;
                    .date_m{ display:block; padding-bottom:0.5rem; color:#666; }
                }
            }
        }
        .moreWorks{
            .goGithub{
                font-size:1.45rem;
                &:hover{ font-size:1.45rem; }
            }
        }
    }
    /* contact */
    #contact{
        ul{ 
            li{ font-size:1.125rem; 
                .title{ font-size:1.125rem; }
                a{ font-size:1.125rem; } 
            } 
        }
    }
}
@media screen and (max-width:767px) {
    *{ font-size:14px; }
    body{ overflow: visible; &.active{ overflow: hidden; } }
    /* loader */
    .loader{
        h1{ span{ font-size:60px; } }
    }
    /* header */
    header{
        .gnb{ 
            position:absolute; top:0; left:0; z-index:5000; width:100%; height:100vh; background-color:#FB8B00; display: none;
            ul{ position:absolute; top:0; right:0; left:0; bottom:0; margin:auto; display:block; width:100%; height:fit-content;
                li{ width:100%; height:fit-content; text-align:center; padding:0 !important; 
                    a{ padding:2rem; box-sizing:border-box; font-size:2rem; opacity:0; transition:0.8s; transition-delay:0.4s; }
                }
            }
        }
        .panel{ position:absolute; top:0; right:1rem; z-index:5000; display:block !important; width:40px; height:100%;
            a{ display:flex; flex-direction: column; justify-content: space-between; width:100%; height:100%; padding:1rem 0; box-sizing:border-box; 
                span{ position:relative; display: block; width:40px; height:3px; background-color:#fff; transition:0.4s; }
            }
        }
        &.active{
            .gnb{ display: block;
                li{ a{opacity:1; } }
            }
            .panel span{ 
                &:nth-child(1){ top:-3px; transform-origin:left; transform:rotate(45deg) }
                &:nth-child(2){ opacity:0; }
                &:nth-child(3){ top:3px; transform-origin:left; transform:rotate(-45deg)  }
            }
        }
    }
    /* main */
    #main{ 
        .wrap{
            figure{ width:300px; height:300px; margin:0 auto 1rem; }
            .textBox{
                h2{ 
                    font-size:40px !important; 
                    span{font-size: 40px !important;} 
                }
                p{ 
                    font-size:1.25rem !important; 
                    &::after{ top:4px !important; height:1.45rem !important; }
                }
            }
        }
        
    }
    /* skills */
    #skills{ 
        .contents{
            .icons{
                li{
                    img{ width:48px; height:48px; }
                }
            }
        }
    }
    /* projects */
    #projects{
        .moreWorks{
            .goGithub{
                font-size:1.345rem;
                img{ width:32px; }
            }
        }
    }
    /* contact */
    #contact{
        h3{ margin-bottom:2rem; }
        img.mobile{float:left; display:block !important; width:252px; height:252px; object-fit:cover; }
        ul{  float:left; display: block; margin:0 !important; padding-left:2rem; box-sizing:border-box; 
            li{ font-size:1.5rem; padding:1rem 0 1rem 1rem; background-position: left 32%; line-height:2rem;
                a{ font-size:1.5rem; }
                .title{ font-size:1.5rem; }
                .line{ display:block; }
            }
        }
        img.pc{ display: none !important; }
        .contact{ clear:both;
            form{ margin-top:2rem !important; }
        }
    }
    /* footer */
    footer{
       .bottom{
           flex-direction: column; align-items:center; padding-top:1.5rem; text-align:center;
           h1{ margin-right:0; margin-bottom:1rem; }
       }
    }

}
@media screen and (max-width:540px) {
    /* projects */
    #projects{
        .moreWorks{
            .goGithub{
                font-size:1.25rem;
                img{ width:28px; }
                &:hover{ font-size:1rem; }
            }
        }
    }
}
@media screen and ( max-width:474px ) {
    /* loader */
    .loader{
        h1{ span{ font-size:48px; } }
    }
    /* projects */
    #projects{
        .project{ &:last-child{ padding-bottom:0 !important; } }
        .title{ h4{ font-size:1.45rem !important; } }
        .descTop{ 
            .goGithub{ width:60%; span{ font-size:1rem; } } 
            .goView{ width:40%; }
        }
        .moreWorks{
            .gif{ display: none; }
            .goGithub{
                padding:3rem 0; border-left:1px solid #FB8B00;
                font-size:2rem;
                img{ width:48px; margin-top:1rem; }
                &:hover{ font-size:1rem; }
            }
        }
    }
    /* contact */
    #contact{
        h3{ margin-bottom:2rem; }
        img.mobile{float:left; display:block !important; width:100%; }
        ul{ 
            display: flex; justify-content:space-between; width:100%; margin:0 !important; padding-left:0; box-sizing:border-box;
            li{font-size:1rem; padding:0.5rem 0 0 0.25rem !important; background:none; border-bottom:2px solid #FB8B00;
                &:last-child{ margin:0; }
                a{ font-size:1rem; }
                span{display:none !important;}
            }
        }
    }
    /* footer */
    footer{
        > p{ font-size:1.45rem; }
        .bottom{
            p{ line-height:1rem; }
            .mobile_s{ display: none !important; }
        }
    }
}
@media screen and ( max-width:376px ) {
    *{ font-size:14px; }
    /* loader */
    .loader{
        h1{ span{ font-size:40px; } }
    }
    /* main */
    #main{
        .wrap{
            figure{ width:200px; height:200px; margin:0 auto 1rem;
            }
            .textBox{
                h2{ font-size:2rem !important; span{font-size: 2rem !important;} }
                p{ font-size:0.875rem !important; 
                    &::after{ top:2px !important; height:1rem !important; }
                }
            }
        }
    }
    /* skills */
    #skills{ 
        .contents{
            .icons{
                li{
                    span{ font-size:1rem !important; }
                }
            }
        }
    }
    /* projects */
    #projects{
        .descTop{ 
            .goGithub{ width:55%; span{ font-size:1rem; } } 
            .goView{ width:45%; font-size:1.345rem; }
        }
    }
}
@media screen and (max-width:320px) {
    /* projects */
    #projects{
        .descTop{ 
            .goGithub{ width:50%; span{ display: none;  } &::after{ padding-left:0.5rem; content:'GO GitHub'; font-weight:500; line-height:2.5rem; }} 
            .goView{ width:50%; font-size:1.345rem; }
        }
    }
    /* footer */
    footer{
        > p{ font-size:1.125rem; }
        .bottom{
            p{ line-height:0.75rem; font-size:0.875rem; }
        }
    }
}