@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Oswald:wght@400;500;700&display=swap");
* { padding: 0; margin: 0; font-family: 'Oswald', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif; font-weight: 400; color: #333; }

li { list-style: none; }

a { text-decoration: none; }

button { cursor: pointer; }

.wrap { width: 1280px; max-width: 100%; margin: 0 auto; }

/* header */
header { position: -webkit-sticky; position: sticky; top: 0; left: 0; z-index: 1000; width: 100%; background-color: #FB8B00; border-bottom: 1px solid #fff; }

header .wrap { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

header .wrap h1 a { color: #fff; font-weight: 700; font-size: 2.5rem; }

header .wrap ul { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; }

header .wrap ul li { height: 100%; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

header .wrap ul li a { display: block; width: 100%; height: 100%; -webkit-transition: 0.4s; transition: 0.4s; font-size: 1.45rem; font-weight: 500; color: #fff; }

header .wrap ul li a:hover { -webkit-transform: skew(-10deg) scale(1.1, 1.1); transform: skew(-10deg) scale(1.1, 1.1); }

/* sectionTitle */
h3 { font-size: 2rem; color: #fff; font-weight: 400; line-height: 3.5rem; font-weight: 500; }

h3::before { position: absolute; top: 0; left: 0; z-index: -1; display: block; width: 100%; height: 3.5rem; background-color: #FB8B00; content: ''; }

/* button */
#main { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100vh; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

#main h2 { position: relative; width: 100%; font-weight: 700; -webkit-transform: matrix(0.2, 0.02, 0.01, 0.2, -10, 0); transform: matrix(0.2, 0.02, 0.01, 0.2, -10, 0); -webkit-transition: 1s; transition: 1s; }

#main h2.active { -webkit-transform: matrix(1, 0, 0, 1, 0, 0); transform: matrix(1, 0, 0, 1, 0, 0); }

#main h2::after { position: absolute; bottom: 0; left: 0; z-index: -1; display: block; width: 0; background: -webkit-gradient(linear, left top, right top, from(#FB8B00), to(#fb8a0000)); background: linear-gradient(to right, #FB8B00, #fb8a0000); content: ''; -webkit-animation: appearBar 0.4s ease-in-out 1s 1 forwards; animation: appearBar 0.4s ease-in-out 1s 1 forwards; }

#main p { position: relative; display: inline-block; font-size: 1.75rem; color: #FB8B00; font-weight: 500; }

#main p::after { position: absolute; right: -10px; top: 8px; display: inline-block; width: 1px; height: 1.75rem; background-color: #FB8B00; content: ''; -webkit-animation: typing 1s steps(1, end) infinite; animation: typing 1s steps(1, end) infinite; }

@-webkit-keyframes typing { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes typing { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes appearBar { 0% { width: 0; }
  100% { width: 100%; } }

@keyframes appearBar { 0% { width: 0; }
  100% { width: 100%; } }

/* intro */
#intro img { width: 100%; height: 480px; -o-object-fit: contain; object-fit: contain; -o-object-position: center; object-position: center; margin-bottom: 1.5rem; border: 1px solid #FB8B00; -webkit-box-sizing: border-box; box-sizing: border-box; }

#intro h4 { height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; padding: 0 18px 4px 0; font-size: 1.5rem; font-weight: 500; border-bottom: 2px solid #FB8B00; }

#intro .textBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#intro .textBox p { font-size: 1.125rem; line-height: 1.875rem; }

/* skills */
#skills .contents { display: -webkit-box; display: -ms-flexbox; display: flex; border-bottom: 2px solid #FB8B00; padding-bottom: 1.45rem; }

#skills .contents h4 { margin-bottom: 1.45rem; padding-bottom: 4px; font-size: 1.5rem; font-weight: 500; border-bottom: 2px solid #FB8B00; }

#skills .contents .icons { display: -webkit-box; display: -ms-flexbox; display: flex; }

#skills .contents .icons li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-line-pack: center; align-content: center; }

#skills .contents .icons li img { border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 1rem; -webkit-transition: 0.3s; transition: 0.3s; }

#skills .contents .icons li span { font-size: 1.45rem; -webkit-transition: 0.3s; transition: 0.3s; }

#skills .contents .icons li:hover img { -webkit-transform: scale(1.15, 1.15); transform: scale(1.15, 1.15); }

#skills .contents .icons li:hover span { color: #FB8B00; }

/* projects */
#projects .proNav { border-bottom: 1px solid #FB8B00; }

#projects .proNav li { background-image: url(img/list_icon.png); background-repeat: no-repeat; background-position: left center; padding-left: 1rem; margin-bottom: 0.5rem; }

#projects .proNav li:last-child { margin-bottom: 1.45rem; }

#projects .proNav li a { display: block; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 0.5rem; -webkit-box-sizing: content-box; box-sizing: content-box; line-height: 2rem; font-size: 1.125rem; -webkit-transition: 0.3s; transition: 0.3s; }

#projects .proNav li a::after { display: block; width: 0; height: 1px; background-color: #FB8B00; -webkit-transition: 0.3s; transition: 0.3s; content: ''; }

#projects .proNav li a:hover { color: #FB8B00; font-weight: 500; }

#projects .proNav li a:hover::after { width: 100%; }

/* projectBox */
.project { padding: 2rem 0 2.5rem; border-bottom: 1px solid #FB8B00; }

.project .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 1rem; }

.project .title h4 { font-size: 2.75rem; font-weight: 500; color: #FB8B00; margin-right: 2rem; }

.project .title .date { padding-bottom: 0.5rem; color: #666; font-size: 1.25rem; }

.project .contents { display: -webkit-box; display: -ms-flexbox; display: flex; }

.project .contents > img { margin-right: 2rem; border: 1px solid #FB8B00; }

.project .contents .desc { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.project .contents .desc h5 { margin-bottom: 1rem; padding: 0 0 0.5rem 0.5rem; border-bottom: 3px solid #FB8B00; font-weight: 600; font-size: 1.5rem; color: #666; }

.project .contents .desc h5 + a { display: block; margin-bottom: 1rem; }

.project .contents .desc h5 + a img { float: left; width: 2.5rem; }

.project .contents .desc h5 + a span { margin-left: 1rem; line-height: 2.5rem; font-size: 1.125rem; font-weight: 500; -webkit-transition: 0.3s; transition: 0.3s; }

.project .contents .desc h5 + a:hover span { color: #FB8B00; font-size: 1.25rem; }

.project .contents .desc p { line-height: 1.75rem; }

.project .contents .desc p b { font-weight: 500; font-size: 1.125rem; }

.project .contents .desc > .button { position: absolute; bottom: 0.5rem; display: block; width: 100%; padding: 0.45rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #FB8B00; -webkit-box-shadow: 0.5rem 0.5rem #FB8B00; box-shadow: 0.5rem 0.5rem #FB8B00; color: #FB8B00; font-weight: 500; font-size: 1.5rem; text-align: center; -webkit-transition: 0.3s; transition: 0.3s; }

.project .contents .desc > .button:hover { font-weight: 600; background-color: #fb8a0021; }

.project .contents .desc .buttonBox { width: 100%; position: absolute; left: 0; bottom: 0.5rem; }

.project .contents .desc .buttonBox .button { display: block; width: 100%; padding: 0.45rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #FB8B00; -webkit-box-shadow: 0.5rem 0.5rem #FB8B00; box-shadow: 0.5rem 0.5rem #FB8B00; color: #FB8B00; font-weight: 500; font-size: 1.5rem; text-align: center; -webkit-transition: 0.3s; transition: 0.3s; }

.project .contents .desc .buttonBox .button:last-of-type { margin: 1rem 0; }

.project .contents .desc .buttonBox .button:hover { font-weight: 600; background-color: #fb8a0021; }

.project .contents .desc .buttonBox > span { font-size: 0.875rem; }

.moreWorks { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.moreWorks > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; border-bottom: 1px solid #FB8B00; -webkit-box-sizing: border-box; box-sizing: border-box; }

.moreWorks > div a { border-right: 1px solid #FB8B00; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.moreWorks > div a:last-child { border: none; }

.moreWorks > div a img { width: 100%; }

.moreWorks > div .goGithub { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; color: #FB8B00; font-weight: 600; font-size: 2rem; }

.moreWorks > div .goGithub img { width: 120px; }

/* contact */
#contact ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 2rem; }

#contact ul li { background-image: url(img/list_icon.png); background-repeat: no-repeat; background-position: left center; padding-left: 1rem; font-size: 1.45rem; }

#contact ul li span { position: relative; top: 0.25rem; display: inline-block; width: 2px; height: 80%; margin: 0 0.5rem; background-color: #FB8B00; }

#contact .contact { display: -webkit-box; display: -ms-flexbox; display: flex; }

#contact .contact img { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 2.5rem; }

#contact .contact form { position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 3rem 1rem 1rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #FB8B00; }

#contact .contact form::before { position: absolute; top: 0; left: 0; padding: 0 0.75rem 0.5rem 0.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; font-size: 2rem; font-weight: 500; color: #FB8B00; content: 'GET IN TOUCH'; -webkit-transform: translate(-5%, -25%); transform: translate(-5%, -25%); }

#contact .contact form > * { font-size: 1.125rem; }

#contact .contact form input { padding: 0.5rem; margin-bottom: 1rem; border: none; border-bottom: 1px solid #ccc; }

#contact .contact form input::-webkit-input-placeholder { color: #666; }

#contact .contact form input:-ms-input-placeholder { color: #666; }

#contact .contact form input::-ms-input-placeholder { color: #666; }

#contact .contact form input::placeholder { color: #666; }

#contact .contact form label[for="message"] { color: #666; margin-bottom: 0.5rem; padding-left: 0.5rem; }

#contact .contact form textarea { height: 100%; border: 1px solid #ccc; }

#contact .contact form button { display: block; width: 100%; padding: 0.45rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #FB8B00; -webkit-box-shadow: 0.5rem 0.5rem #FB8B00; box-shadow: 0.5rem 0.5rem #FB8B00; color: #FB8B00; font-weight: 500; font-size: 1.5rem; text-align: center; -webkit-transition: 0.3s; transition: 0.3s; background: transparent; margin: 1.5rem 0 1rem; }

#contact .contact form button:hover { font-weight: 600; background-color: #fb8a0021; }

#contact .contact .away { position: absolute; left: -999em; }

/* footer */
footer { width: 100%; background-color: #FB8B00; padding: 1.5rem 0 3.5rem; }

footer * { color: #fff; }

footer > p { text-align: center; padding-bottom: 1.5rem; border-bottom: 1px solid #fff; font-size: 1.5rem; }

footer .bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 3.5rem; }

footer .bottom h1 { color: #fff; font-weight: 700; font-size: 2.5rem; }

/* responsive */
@media screen and (min-width: 1024px) { h3 { margin-bottom: 60px; }
  * { font-size: 18px; }
  /* header */
  header { height: 70px; }
  header .wrap ul li { margin-left: 32px; }
  /* main */
  #main h2 { font-size: 80px; }
  #main h2::after { height: 48px; }
  #main p { margin-top: 32px; }
  #main ~ div { position: relative; margin-bottom: 80px; }
  /* skills */
  #skills .contents { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  #skills .contents > li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 3rem; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #skills .contents > li:last-child { margin: 0; }
  #skills .contents .icons { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #skills .contents .icons li { margin-bottom: 32px; }
  #skills .contents .icons li:last-child { margin: 0; }
  #skills .contents .icons li img { width: 64px; height: 64px; }
  #skills .contents .icons li span { line-height: 72px; }
  /* projectBox */
  .project .contents { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .project .contents > img { width: 745px; }
  /* contact */
  #contact .contact { display: -webkit-box; display: -ms-flexbox; display: flex; }
  #contact .contact img { height: 580px; }
  /* footer */
  footer { width: 100%; background-color: #FB8B00; padding: 1.5rem 0 3.5rem; }
  footer .bottom h1 { margin-right: 2rem; } }

@media screen and (max-width: 1279px) { header ~ div { padding: 0 16px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #projects .project .contents { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #projects .project .contents > img { width: 100%; margin-bottom: 2rem; }
  #projects .project .contents .desc > .button { position: static; margin-top: 2rem; }
  #projects .project .contents .desc .buttonBox { position: static; }
  #projects .project .contents .desc .buttonBox:first-of-type { margin-top: 2rem; }
  #projects .project .contents .desc .buttonBox:last-of-type { margin-bottom: 3rem; } }

@media screen and (max-width: 1023px) { * { font-size: 16px; } }
